<p>selector-page works!</p>

<form [formGroup]="miFormulario" (ngSubmit)="guardarDatos()" >
  <div class="row">
    <div class="col">
      <label class="form-label">Continentes: </label>
      <select class="form-control"
        formControlName="region">
        <option value="default" class="" [defaultSelected]="true"> Seleccione un continente </option>
        <option
          *ngFor="let item of regiones"
          [value]="item | lowercase"
        >{{item}}</option>

      </select>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary">
        Guardar Datos
      </button>
    </div>
  </div>

  <div class="row mt-5" *ngIf="miFormulario.get('region')?.value !== '' ">
    <div class="col">
      <label class="form-label">Paises: </label>
      <select class="form-control"
        formControlName="country"
        >
        <option value="default" class="" [defaultSelected]="true"> </option>
        <option
          *ngFor="let item of paises"
          [value]="item.name.common | lowercase"
        >{{item.name.common}}</option>

      </select>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary">
        Guardar Datos
      </button>
    </div>
  </div>
</form>


<div class="mt-5">
  <h3>Formulario</h3>
  <pre>  {{ miFormulario.valid | json }}  </pre>


  <h3>Formulario Datos </h3>
  <pre>  {{ miFormulario.value | json }}  </pre>


  <h3>Region valor</h3>
  <pre>  {{ miFormulario.controls['region'].value | json }}  </pre>

</div>
